<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">

</head>
<body>
<h1>Lista de Consultas</h1>
<table class="table" border="1">
    <tr>
        <th>ID</th>
        <th>Data</th>
        <th>valor</th>
        <th>Observação</th>
    </tr>
    <tr th:each="c : ${consultas}">
        <td th:text="${c.id}"> </td>
        <td th:text="${c.data}"> </td>
        <td th:text="${c.valor}"> </td>
        <td th:text="${c.observacao}"> </td>
    </tr>
</table>
</body>
</html>