<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"    lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"/>
    <title>Lista de Produto</title>
</head>
<body>
<h1>Lista de Consulta medica </h1>

<table class="table" border="1">
    <thead>
    <tr>

        <th>id</th>
        <th>data</th>
        <th>valor</th>
        <th>obeservacao</th>
        <th>peciente</th>
    </tr>
    </thead>
    <tr th:each="cp : ${consultas}">
        <td th:text="${cp.id}"> </td>
        <td th:text="${cp.data}"> </td>
        <td th:text="${cp.valor}"> </td>
        <td th:text="${cp.observacao}"> </td>
        <td th:text="${cp.paciente.nome}"> </td>

        <td> <a th:href="@{/veiculos/edit/{id}(id=${cp.id})}">Editar</a> </td>
        <td> <a onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"  th:href="@{/veiculos/remove/{id}(id=${cp.id})}">Excluir</a> </td>
    </tr>
</table>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</body>
</html>